ALLOWED_HOSTS= 'localhost,127.0.0.1'
DEBUG = "True"
REDIS_URL= "redis://redis:6379/0"
DJANGO_DB= postgresql
POSTGRES_HOST= db
POSTGRES_NAME= postgres
POSTGRES_USER= postgres
POSTGRES_PASSWORD= postgres
POSTGRES_PORT= 5432
EMAIL_USERNAME= sampleemail@yahoo.com
EMAIL_PASSWORD= one_time_password_for_security
EMAIL_IMAP_SERVER= imap.mail.yahoo.com
DJANGO_SU_USERNAME= django_admin_username
DJANGO_SU_EMAIL= django_admin_email
DJANGO_SU_PASSWORD= django_admin_password
